<a href="https://colab.research.google.com/github/Suriyakrishnansuriya/Fake_news_prediction/blob/main/Fake_News_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **import all necessory modules**

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.model_selection import train_test_split

# **load the file**

In [88]:
# load the dataset
df= pd.read_csv('news.csv')
df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [89]:
df.shape

(4009, 4)

In [109]:
df.describe

<bound method NDFrame.describe of                                                    URLs  \
0     http://www.bbc.com/news/world-us-canada-414191...
1     https://www.reuters.com/article/us-filmfestiva...
2     https://www.nytimes.com/2017/10/09/us/politics...
3     https://www.reuters.com/article/us-mexico-oil-...
4     http://www.cnn.com/videos/cnnmoney/2017/10/08/...
...                                                 ...
4003  http://beforeitsnews.com/u-s-politics/2017/10/...
4004  http://beforeitsnews.com/sports/2017/09/trends...
4005  http://beforeitsnews.com/u-s-politics/2017/10/...
4007  https://www.reuters.com/article/us-china-pharm...
4008  http://beforeitsnews.com/u-s-politics/2017/10/...

                                               Headline  \
0            Four ways Bob Corker skewered Donald Trump
1     Linklater's war veteran comedy speaks to moder...
2     Trump’s Fight With Corker Jeopardizes His Legi...
3     Egypt's Cheiron wins tie-up with Pemex for Mex...
4           Jason Aldean opens 'SNL' with Vegas tribute
...                                                 ...
4003  CNN and Globalist Exposed - Steve Quayle and A...
4004                                    Trends to Watch
4005  Trump Jr. Is Soon To Give A 30-Minute Speech F...
4007  China to accept overseas trial data in bid to ...
4008  Vice President Mike Pence Leaves NFL Game Beca...

                                                   Body  Label
0     Image copyright Getty Images\nOn Sunday mornin...      1
1     LONDON (Reuters) - “Last Flag Flying”, a comed...      1
2     The feud broke into public view last week when...      1
3     MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...      1
4     Country singer Jason Aldean, who was performin...      1
...                                                 ...    ...
4003  Vietnam Is in Great Danger, You Must Publish a...      0
4004  Trends to Watch\n% of readers think this story...      0
4005  Trump Jr. Is Soon To Give A 30-Minute Speech F...      0
4007  SHANGHAI (Reuters) - China said it plans to ac...      1
4008  Vice President Mike Pence Leaves NFL Game Beca...      0

[3988 rows x 4 columns]>

In [91]:
df.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

In [92]:
df= df.dropna()

In [93]:
df.shape

(3988, 4)

In [95]:
X_train,X_test,y_train,y_test=train_test_split(df['Body'],df['Label'] , test_size= 0.2, random_state=1)

In [96]:
X_test.shape

(798,)

# **using Tfidf vectorizer and PassiveAggressiveClassifier**

In [97]:
# Tfidf Vectorizer
tfidf= TfidfVectorizer(stop_words='english')
t_train= tfidf.fit_transform(X_train)
t_test= tfidf.transform(X_test)

In [98]:
#PassiveAggressiveClassifier to fit module
pac= PassiveAggressiveClassifier()
pac.fit(t_train, y_train)

# to preddict the accuracy of real news
predict= pac.predict(t_test)
score= accuracy_score(y_test, predict)
print(f'accuracy: {round(score*100, 2)}%')

accuracy: 98.5%

In [107]:
confusion_matrix(y_test, predict)

array([[406,   7],
       [  5, 380]])